bin/
obj/
/src/*.suo
/.vs/*
/installer
/packages/
!/src/packages/repositories.config
/src/BuildInstallerTaxOneTemp.xml
output/

/build/*.zip
/build/*.temp
/build/output/

/temp
/installers
/src/_ReSharper.Caches
/src/*.psess
/src/*.vsp
